body{
    margin: 0;
    background-color: #112B3C;
}
/********************************************* NAVBAR  ************************************************/
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    height: 70px;
    border-bottom: 20px solid #F66B0E;;
    border-top: 20px solid #F66B0E;;
    border-right: 400px solid #F66B0E;;
    border-left: 400px solid #F66B0E;;
    
}
nav h1{
    margin: 0;
    color: white;
}
.back{
    width: 180px;
    height: 60px;
    border-radius: 30px;
    background-color:darkorange;
    color: rgb(4, 38, 58);
    font-size: 1.4rem;
    font-weight: bolder;
    display: none;
}
/********************************************* MAİN  ************************************************/
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 600px;
}
.main-buttons{
    width: 250px;
    height: 60px;
    border-radius: 10px;
    margin: 10px 0;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    background-color: #B33030;
    font-size: 1.2rem;
    font-weight: bolder;
    border: 4px solid #EC255A ;
}
/********************************************* MAİN:order  ************************************************/
main h1{
    color: orangered;
    margin-bottom: 0;
    font-size: 2.2rem;
}
main h3{
    color: white;
    font-size: 1.2rem;
}
main h2{
    color: red;
    font-size: 3rem;
    font-weight: bolder
}
.orderBtn{
    width: 350px;
    height: 80px;
    color: white;
    background-color: green;
    border: 4px solid greenyellow;
    font-size: 2rem;
    border-radius: 4px;
    cursor: pointer;
}